ffmpeg-master-latest-win64-gpl/LICENSE.txt
ffmpeg-master-latest-win64-gpl/bin/ffmpeg.exe
ffmpeg-master-latest-win64-gpl/bin/ffplay.exe
ffmpeg-master-latest-win64-gpl/bin/ffprobe.exe
ffmpeg-master-latest-win64-gpl/doc/bootstrap.min.css
ffmpeg-master-latest-win64-gpl/doc/community.html
ffmpeg-master-latest-win64-gpl/doc/default.css
ffmpeg-master-latest-win64-gpl/doc/developer.html
ffmpeg-master-latest-win64-gpl/doc/faq.html
ffmpeg-master-latest-win64-gpl/doc/fate.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-all.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-bitstream-filters.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-codecs.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-devices.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-filters.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-formats.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-protocols.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-resampler.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-scaler.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg-utils.html
ffmpeg-master-latest-win64-gpl/doc/ffmpeg.html
ffmpeg-master-latest-win64-gpl/doc/ffplay-all.html
ffmpeg-master-latest-win64-gpl/doc/ffplay.html
ffmpeg-master-latest-win64-gpl/doc/ffprobe-all.html
ffmpeg-master-latest-win64-gpl/doc/ffprobe.html
ffmpeg-master-latest-win64-gpl/doc/general.html
ffmpeg-master-latest-win64-gpl/doc/git-howto.html
ffmpeg-master-latest-win64-gpl/doc/libavcodec.html
ffmpeg-master-latest-win64-gpl/doc/libavdevice.html
ffmpeg-master-latest-win64-gpl/doc/libavfilter.html
ffmpeg-master-latest-win64-gpl/doc/libavformat.html
ffmpeg-master-latest-win64-gpl/doc/libavutil.html
ffmpeg-master-latest-win64-gpl/doc/libswresample.html
ffmpeg-master-latest-win64-gpl/doc/libswscale.html
ffmpeg-master-latest-win64-gpl/doc/mailing-list-faq.html
ffmpeg-master-latest-win64-gpl/doc/nut.html
ffmpeg-master-latest-win64-gpl/doc/platform.html
ffmpeg-master-latest-win64-gpl/doc/style.min.css
output.mp3
ToDo.txt
